<footer class="footer">
    <div class="container">
        <p>&copy; 2026 QResto. Wszystkie prawa zastrzeżone.</p>
        <div class="footer-links">
            <a href="#">Polityka Prywatności</a>
            <a href="#">Regulamin</a>
            <a href="#">Kontakt</a>
        </div>
    </div>
</footer>
</body>

</html>